.navbar__searchox{
    width: 42vw;    
    height: 5vh;
    font-size: medium;
    padding: 2%;
}
.navbar__searchicon{
    background: url('https://ik.imagekit.io/amazon1122/amazon-image/amazon-image/sprite_350x.png?updatedAt=1689420292626') no-repeat -9px -289px;

    margin: 10px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.dropdown_div{
    margin-left: 5%;
}
.navbar__searchcomponent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__searchboxdiv{
    background-color: #FEBE68;
    height: 5vh;
    width: 48px;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__dropdown{
    width: 3.7vw;
height: 5vh;
background-color: #e6e5e5;
border-radius: 5px 0px 0px 5px;
text-align-last: center;

}


@media (max-width: 600px) {
    .navbar__searchox {
      width: 100px;
      height: 5vh;
      font-size: medium;
      padding: 2%;
      font-size: 12px;
    }
  
    .nav__dropdown {
      width: 10vw;
      height: 5vh;
      font-size: 12px;
    }
    .navbar__searchicon {
        width: 20px;
        height: 23px;
        margin: 10px;
        cursor: pointer;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {

    .navbar__searchox {
        width: 50vw;
        height: 5vh;
        font-size: medium;
        padding: 2%;
        font-size: 16px;
    }

    .nav__dropdown {
        width: 9vw;
        height: 5vh;
    }

    .navbar__searchicon {
        width: 80px;
        height: 25px;
        margin: 10px;
        cursor: pointer;
    }
}