.body {
  background-color: #EAEDED;
  height: 100%;
  /* height: 100vh; */
}

.checkout__container {
  background-color: white;
  margin: 25px;
  width: 65vw;
}

.textgap {
  margin: 5px;
}

.placeorder__button {
  width: 230px;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
  border: 0px;
  color: black;
  background-color: #FFD712;
  cursor: pointer;
}

.placeorder__button:hover {
  background-color: #ffa41b;
}

.checkout_dropdown {
  height: 30px;
  width: 75px;
  border-radius: 7px;
  background-color: #EAEDED;
  border: 1.5px solid #D5D9D9;
  font-size: 14px;
  padding: 5px;
}

.checkout_buttons {
  border: none;
  color: #1d748c;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
}

.checkout_buttons:hover {
  text-decoration: underline;
}

.delivery_item {
  display: flex;
  align-items: center;
}

.proceedToBuyBox {
  width: 300px;
  height: 200px;
  margin-top: 25px;
  background-color: white;
  padding: 30px;
}

.proceedToBuyBox {
  flex: wrap;
  width: 300px;
  height: 250px;
  margin-top: 25px;
  background-color: white;
  padding: 30px;
}

/* Mobile styles for screens less than 600px wide */
@media (max-width: 600px) {
  .checkout__container {
    width: 370px;
    margin: 10px;
    padding: 10px;
  }

  .dropdown_items span {
    display: none;
  }

  .dropdown_items button {
    display: inline-block;
  }

  .delivery_item {
    display: none;
  }

  .placeorder__button {
    width: 100%;
    height: 45px;
    font-size: 18px;
  }
}

.proceedToBuyBox {
  margin: 20px 40px;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .checkout__container {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }


  .proceedToBuyBox {
    margin: 20px 250px;
  }
}